*{
	font-family: Ubuntu;
}
body {
	margin:0;
	padding:0;
}
.tbl {
	width: 100%;
	height: 100%;
}
th,td {
	border: #254441 solid 1px;
}
a {
	text-decoration: none;
	background-color: #efefef;
}

input {
	background-color: #ffffff;
}

.button, button{
	font-size: 16px;
	font-weight: bold;
	background-color: green;

}

.title {
	font-family: Ubuntu;
	font-size: 60px;
	font-weight: 1000;
	height: 20%;
	text-transform: uppercase;
	text-align: left;
	padding-left: 10%;
	background-color: #003954;
	color: white;
}
.navlink, .navlink *{
	height: 5%;
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
	background-color: #0b3954;
	color: white;
}
.navlink a:hover {
	color: #1974d2;
}
td.link b {
	text-transform: uppercase;
}
.link, .link * {
	vertical-align: top;
	text-align: center;
	line-height: 40px;
	background-color: white;
/*	color: white;*/
	width:20%;
}
.link a:hover {
	color: #1974d2;
}
.content {
	height: 70%;
	vertical-align: top;
	padding: 10px;
	overflow: hidden;
	background-color: white;
}
.content *{
	background-color: white;
	color: black;
}
.active {
	color: #66ff00;
}
.copyright, .copyright b {
	text-align: center;
	color: white;
	background-color: #0b3954;
}

.signup td{
	line-height: 3;
	vertical-align: middle;
	border: none;
}
.signup th{
	line-height: 3;
	vertical-align: middle;
	text-align: left;
	border: none;
}

.text, .password {
/*	width: 100%;*/
}
 legend {
 	text-transform: capitalize;
 	font-size: 20px;
 	font-weight: 1000;
 }

 textarea {
 	width: 100%;
 	background-color: #ffffff;
 }

 ul {
 	line-height: 2;
 }

 li a:hover, button:hover, .button:hover {
 	color: #1974d2;
 	font-size: 18px;
 }